{% extends "layout.html" %}
{% block content %}

<section class="authPro">
  <div class="authPro-box">
    <h2 class="authPro-title">Welcome back</h2>
    <p class="authPro-sub">Access your AI workspace</p>

    <form method="post" action="{{ url_for('login_post') }}" class="authPro-form">
      <label>
        <span>Email</span>
        <input type="email" name="email" required placeholder="you@example.com">
      </label>
      <label>
        <span>Password</span>
        <input type="password" name="password" required placeholder="••••••••">
      </label>

      <button class="auth-btn-primary" type="submit">Log in</button>

   

<div class="auth-footer">
  <a href="{{ url_for('forgot_password') }}" class="auth-footer-btn">Forgot password?</a>
	
  <a href="{{ url_for('signup') }}" class="auth-footer-btn">Create an account</a>
</div>


    </form>
  </div>
</section>

{% endblock %}
